<footer
  class="w-full px-8 footer-color pt-[140px] pb-[88px] max-sm:pt-[189px] max-sm:pb-[77px] max-sm:px-4 max-md:px-6 mt-[170px] max-sm:mt-[184px] flex flex-col items-center relative"
>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'pre_footer' %}
        {% render 'pre_footer', el: block %}
    {% endcase %}
  {% endfor %}
  <div class="w-full flex justify-between  main-container max-sm:flex-col gap-12 max-lg:mt-24 max-sm:mt-0">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'info_footer' %}
          <div class="flex flex-col h-full max-w-[249px] gap-5">
            <h1 class="text-[3.3rem] font-bold max-md:text-[2.8rem]">{{ block.settings.info_footer_title }}</h1>
            <p class="text-[1.4rem] text-black opacity-40 leading-[22px]">
              {{ block.settings.info_footer_description }}
            </p>
            <div class="flex gap-4 mt-3 max-sm:mt-0">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'socials_footer' %}
                    <a
                      href=" {{ block.settings.social_url }}"
                      class="w-12 h-12 rounded-[50%] border border-black flex justify-center items-center"
                      target="_blank"
                    >
                      <img
                        src="{{ block.settings.icon_social |  image_url  }}"
                        alt=" {{ block.settings.icon_social.alt }}"
                        width="{{ block.settings.icon_social.width }}"
                        height="{{ block.settings.icon_social.height }}"
                        class="w-6 h-6 object-cover object-center"
                    ></a>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        {% else %}

      {% endcase %}
    {% endfor %}

    <div class=" w-3/4 max-md:w-full gap-12 flex justify-between  max-md:grid max-md:grid-cols-2">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'menu_footer' %}
            <div class="flex flex-col gap-5">
              <span class="text-[1.6rem] font-medium max-md:text-[1.4rem] uppercase mb-3 max-sm:mb-0">
                {{- block.settings.menu_list_social.title -}}
              </span>
              {% for item in block.settings.menu_list_social.links %}
                <a href="{{ item.url }}" class="text-[1.6rem] text-slate-600 max-md:text-[1.4rem]"> {{ item.title }}</a>
              {% endfor %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</footer>

{% style %}
  .footer-color {
    background-color: {{ section.settings.color_footer }};
  }

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'pre_footer' %}
        .pre-footer-color {
          background-color: {{ block.settings.color_pre_footer }};
        }
        .color-title-pre-footer {
          color: {{ block.settings.color_title_pre_footer }};
        }
    {% endcase %}
  {% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Footer",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "color_footer",
      "label": "Footer Color",
      "default": "#F0F0F0"
    }
  ],
  "blocks": [
    {
      "name": "Pre Footer",
      "type": "pre_footer",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "color_pre_footer",
          "label": "Pre Footer Color",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "pre_footer_title",
          "label": "Pre Footer Title",
          "default": "STAY UPTO DATE ABOUT OUR LATEST OFFERS"
        },
        {
          "type": "color",
          "id": "color_title_pre_footer",
          "label": "Color Title Pre Footer",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "button_title_pre_footer",
          "label": "Button Title Pre Footer",
          "default": "Subscribe to Newsletter"
        }
      ]
    },
    {
      "name": "Info",
      "type": "info_footer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "info_footer_title",
          "label": "Info Footer Title",
          "default": "Shop.co"
        },
        {
          "type": "text",
          "id": "info_footer_description",
          "label": "Info Footer Description",
          "default": "We have clothes that suits your style and which you’re proud to wear. From women to men."
        }
      ]
    },
    {
      "name": "Socials",
      "type": "socials_footer",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_social",
          "label": "Icon Social"
        },
        {
          "type": "url",
          "id": "social_url",
          "label": "Social_url",
          "default": "/"
        }
      ]
    },

    {
      "name": "Menu footer",
      "type": "menu_footer",
      "limit": 4,
      "settings": [
        {
          "type": "link_list",
          "id": "menu_list_social",
          "label": "Menu Social Select"
        }
      ]
    }
  ]
}
{% endschema %}
