<section class="w-full">
  <div class="main-container border-t border-b border-slate-300 max-sm:py-[32px] py-[64px] flex max-md:flex-col gap-10 max-md:gap-6">
    {%- # Product Carousel -%}
    <div class="w-1/2 flex max-md:w-full gap-4 max-md:flex-col-reverse h-[530px] overflow-hidden max-sm:h-auto">
      {% render 'product_slider', el: product %}
    </div>

    {%- # Product Data -%}

    <div class="w-1/2  flex flex-col max-md:w-full max-sm:mt-6">
      <div
        class="flex flex-col w-full gap-6 max-sm:gap-4"
      >
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title_product' %}
              <h4 class="text-[4rem] font-bold max-md:max-w-[260px] max-md:text-[3rem] uppercase leading-[28px]">
                {{ product.title }}
              </h4>

            {%- when 'price_product' -%}
              {% render 'product_price', el: product %}

            {% when 'description_product' %}
              <div class="text-[1.6rem] max-sm:text-[1.4rem] text-slate-700 leading-[22px] border-b border-slate-300 pb-6">
                {{ product.content }}
              </div>
          {% endcase %}
        {% endfor %}

        {%- # Form product -%}

        {% form 'product', product %}
          <div data-section="form-container-product" class="w-full product-option">
            <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'variant_product' %}
                  {% if product.variants.size > 1 %}
                    <div class="w-full flex flex-col gap-6 pb-6 border-b border-slate-300">
                      {% for option in product.options_with_values %}
                        {%- if option.name == 'Color' -%}
                          <fieldset>
                            <legend class="mb-4">{{ option.name }}</legend>
                            <div
                              class="flex gap-4"
                            >
                              {% for value in option.values %}
                                <div>
                                  <input
                                    {% if option.selected_value == value %}
                                      checked
                                    {% endif %}
                                    type="radio"
                                    name="{{ option.name}}"
                                    value="{{ value }}"
                                    id="{{ option.name |  handleize }} - {{ value |  handleize }}"
                                    class="hidden"
                                  >
                                  <label
                                    for="{{ option.name |  handleize }} - {{ value |  handleize }}"
                                    class="cursor-pointer px-4 py-2 border border-black rounded-[64px] transiton ease-linear duration-200"
                                  >
                                    {{ value.name }}
                                  </label>
                                </div>
                              {% endfor %}
                            </div>
                          </fieldset>
                        {%- endif -%}
                        {%- if option.name == 'Dimensione' -%}
                          <fieldset>
                            <legend class="mb-4">{{ option.name }}</legend>
                            <div
                              class="flex gap-4"
                            >
                              {% for value in option.values %}
                                <div class="">
                                  <input
                                    {% if option.selected_value == value %}
                                      checked
                                    {% endif %}
                                    type="radio"
                                    name="{{ option.name}}"
                                    value="{{ value }}"
                                    id="{{ option.name |  handleize }} - {{ value |  handleize }}"
                                    class="hidden"
                                  >
                                  <label
                                    for="{{ option.name |  handleize }} - {{ value |  handleize }}"
                                    class="cursor-pointer px-4 py-2 border border-black  transiton ease-linear duration-200 "
                                  >
                                    {{ value.name }}
                                  </label>
                                </div>
                              {% endfor %}
                            </div>
                          </fieldset>
                        {%- endif -%}
                      {% endfor %}
                    </div>
                  {% endif %}
                {%- when 'shop_block' -%}
                  {%- comment -%}
                      <div class="mt-6">
                      <button type="submit">{{ block.settings.text_button }}</button>
                    </div>
                  {%- endcomment -%}
              {% endcase %}
            {% endfor %}
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>

<script>
  let product = {{ product |  json }}
   document.querySelectorAll('.product-option input[type="radio"]').forEach((radio)=>{
        radio.addEventListener('change', ()=>{
            let selectedOption =[];
            document.querySelectorAll('.product-option input[type="radio"]:checked').forEach((radio)=>{
               selectedOption.push(radio.value)
            })
          let matchedVariant = product.variants.find( variant => {
              let pass = true
              for( i=0; i < selectedOption.length; i++){
                 if(selectedOption.indexOf(variant.options[i] ) === -1){
                   pass=false;
                   break;
                 }
              }
              return pass;
          })
          document.querySelector('#product-id').value = matchedVariant.id;
        })
   });
</script>

{% style %}
  .product-option input[type='radio']:checked + label {
    background-color: black;
    color: white;
  }
{% endstyle %}

{% schema %}
{
  "name": "Template Product",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "name": "Title Product",
      "type": "title_product",
      "limit": 1
    },
    {
      "name": "Price Product",
      "type": "price_product",
      "limit": 1
    },
    {
      "name": "Description Product",
      "type": "description_product",
      "limit": 1
    },
    {
      "name": "Variant Product",
      "type": "variant_product",
      "limit": 1
    },
    {
      "name": "Shop Block",
      "type": "shop_block",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text_button",
          "label": "Button Submit Text",
          "default": "Add To Cart"
        }
      ]
    }
  ]
}
{% endschema %}
